/* productList.jsx */
.header {
    color: wheat;
    font-weight: bold;
}

.product{
    height: 500px;
    width: 300px;
    background-color: lightgoldenrodyellow !important;
    display: inline-block !important;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 5%;
    box-shadow: 7px 4px 24px -8px;
    border-radius: 5px;
}

.image {
    height: 265px;
}


/** product-details.jsx **/
.containerFullInfos {
    border: 1px solid black;
    left: 9%;
    position: absolute !important;
}

.containerFullInfos img {
    box-shadow: 7px 4px 24px -8px;
    height: 35%;
    width: 35%;
    float: right;
}

/**cart items**/
/** .cartItem{
    position: absolute !important;
} **/

.cartItem .cartImage {
    width: 150px;
    height: 150px;
}


div.short {
    white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #000000;
}


/**--------------Footer--------------------------**/
.footer{
    background: #152F4F;
    color:white;
  }

.links ul{
    list-style-type: none;
}

.links li a{
    color: white;
    transition: color .2s;
}

.links li a:hover{
    text-decoration: none;
    color: #4180CB;
}

.about-company i{
    font-size: 25px;
}

.about-company a{
    color:white;
    transition: color .2s;
}

.about-company a:hover{
    color:#4180CB;
}

.location i{
    font-size: 18px;
}

.copyright p{
    border-top:1px solid rgba(255,255,255,.1);
} 


/** Cart Summary Items **/
.removeAll {
    color: blue;
}
.removeAll:hover {
    cursor: pointer;
    text-decoration: underline;
}

.empty {
    height: 371px;
}

/**  Hover Zoom **/
.hoverZoom:hover {
    transform: scale(1.1); 
    cursor: pointer;
  }

.cartIcon:hover {
    cursor: pointer;
}

/**My Cart**/

.backButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.back {
    font-weight: bold;
    color:lightgray;
}

.back:hover {
    font-weight: bold;
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.continue{
    text-decoration: underline;
    font-size: large;
}
.continue:hover {
    cursor: pointer;
    color: blue;
    transform: scale(1.5);
}

.fadeOut {
    z-index: 1;
    background: rgba(0, 0, 0, 0.384) ;
    left: 0;
    top: 0;
}

.closeButton{
    color: gray;
}

.closeButton:hover {
    color: black;
    cursor: pointer;
    transform: scale(2); 
}
